<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica NTT Anatomy</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>


<body>

    <header class="header">
        <div class="header-components">
            <h1 class="header-title">Clínica NTT Anatomy</h1>
            
        </div>  
        <div class="header-img">  
            <img class="img" src="../assets/header-img.png">
        </div>    
    </header>
    <hr/>

    <input class="checkB" type="checkbox" id="check">
    <label for="check">
        <img class="menu-icon" src="../assets/menu-icon.png">
    </label>
    
    <nav class="lateral-menu">
        <ul class="menu-list">
            <li><a class="menu-item" href="">Home</a></li>
            <li><a class="menu-item" href="">Sobre Nós</a></li>
            <li><a class="menu-item" href="">Horário de Atendimento</a></li>
            <li><a class="menu-item" href="">Contato</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">

            <article class="article-content">
                
                <p class="first">Diante de um SUS abarrotado – segundo dados da agência nacional de saúde suplementar, mais de 70% da população não possui plano de saúde – e dos altos custos mensais das operadoras de planos de saúde, a Clínica NTT Anatomy proporciona atendimento médico de excelência, com marcação rápida de consultas, inclusive on-line, coma  mensalidade equivalente a um serviço de streaming e realização de exames a baixo custo.</p>  
            </article>  

            <article class="article-content">
                <h2 class="article-title">Saúde não pode esperar!</h2>
                <p>Nada de preços absurdos e ambiente com cheiro de hospital! Aqui você vai se sentir em sua própria casa e ser tratado como parte da família pela nossa equipe! Temos os equipamentos mais modernos e médicos que amam o que fazem! Parece até ficção! Tudo isso para você ter rapidez, conforto e cuidado em todos os processos.
                </p>
            </article>

            <article class="article-content">
            <p>  Há quanto tempo você não vai ao médico saber como está a sua saúde, hein?
                Autocuidado não é só fazer exercício e skincare, você também precisa deixar os seus exames em dia, não deixe mais para depois, se coloque como prioridade! Cuidar da sua saúde é a coisa mais importante que se pode fazer na sua vida!
            </p>
            </article>
            
        </div>


    </main>

    <aside class="aside">
        <img class="image-aside" src="../assets/tumor.png">
    </aside>
    
    <hr/>
    
    <footer>

        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>   All rights reserved  | <a target="_blank" href="https://www.linkedin.com/in/steffany-sympson/">    SS Developer</a><i class="fas fa-heart"></i></p>
        
    </footer>


</body>
</html>