<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica NTT Anatomy</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>


<body>

    <header class="header">
        <div class="header-components">
            <h1 class="header-title">Clínica NTT Anatomy</h1>
            
        </div>  
        <div class="header-img">  
            <img class="img" src="../assets/header-img.png">
        </div>    
    </header>
    <hr/>

    <input class="checkB" type="checkbox" id="check">
    <label for="check">
        <img class="menu-icon" src="../assets/menu-icon.png">
    </label>
    
    <nav class="lateral-menu">
        <ul class="menu-list">
            <li><a class="menu-item" href="./index.html">Home</a></li>
            <li><a class="menu-item" href="./about-us.html">Sobre Nós</a></li>
            <li><a class="menu-item" href="./opening-hours.html">Horário de Atendimento</a></li>
            <li><a class="menu-item" href="./contact.html">Contato</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <h2 class="article-title">Curiosidade do Corpo que você não sabia</h2>
                
            <div class="cards">
                <div class="card">
                    <h2 class="card-title">Bebês têm mais ossos que adultos</h2>
                    <img src="https://images.unsplash.com/photo-1604917621956-10dfa7cce2e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1562&q=80" alt="">
                    <p class="card-desc">Se alguém perguntar quem tem mais ossos: um bebê ou um adulto, é muito provável que a resposta na ponta da língua seja a segunda opção. No entanto, não é bem assim. Enquanto uma pessoa adulta costuma ter 206 ossos, o bebê costuma ter cerca de 300 ossos. Acontece que, na fase inicial da vida, há vários ossos unidos por cartilagem, que se transformam em um único osso com a chegada da fase adulta. É o caso do crânio, por exemplo, que no recém nascido possui fontanelas — cartilagens entre alguns dos ossos da cabeça que ainda não se fundiram —, por isso ainda é tão frágil.</p>
                </div>
                
                <div class="card">
                    <h2 class="card-title">O arrepio é criado por músculos minúsculos</h2>
                    <img src="https://static.tudointeressante.com.br/uploads/2016/06/arrepio-2.jpg" alt="">
                    <p class="card-desc">Você provavelmente já sentiu o braço arrepiado involuntariamente, ao se sentir emocionado, excitado ou com medo. Isso acontece porque, diante dessas emoções, há uma liberação sanguínea de catecolaminas (adrenalina e noradrenalina, que são neurotransmissores, parte da química produzida pelo nosso cérebro), estimulando os piloeretores, pequenos músculos que se contraem e causam a ereção dos pelos. Quando a temperatura diminui bruscamente, o arrepio acontece como uma forma fisiológica do organismo se proteger do frio.</p>
                </div>

                <div class="card">
                    <h2 class="card-title">O apêndice tem uma função importante</h2>
                    <img src="https://www.vanguardia.com/binrepository/716x528/0c25/716d477/none/12204/TFPA/apendice_3913402_20191217064734.jpg" alt="">
                    <p class="card-desc">Ao contrário do que muitos pensam, o apêndice (uma pequena bolsa, em forma de tubo e com cerca de 10 cm, que está ligada à primeira parte do intestino grosso) tem uma função. Estudos já mencionaram que ele fabrica e armazena bactérias que auxiliam na digestão. Além disso, ele também possui células linfoides, que produzem anticorpos e ajudam nas defesas do organismo.</p>
                </div>

                <div class="card">
                    <h2 class="card-title">O ser humano só respira por uma narina de cada vez</h2>
                    <img src="https://226bea5b4f2ba6bf84d9-2171441c720ac3a14fb4b1c6f7779ab9.ssl.cf1.rackcdn.com/PostImagem/39536/a-respiraccedilatildeo-bucal-e-seus-efeitos-na-denticcedilatildeo_o1ev61ht9ov6s1osgijf1pqgnuie.jpg" alt="">
                    <p class="card-desc">Ao contrário do que parece, a respiração não é feita pelas duas narinas ao mesmo tempo. É por isso que, quando estamos com rinite ou gripe, apenas uma narina fica entupida por vez: é a que está descansando naquele momento. Se você parar para prestar atenção na sua respiração nesse momento, pode notar que há um lado puxando primeiro que o outro. Se você sentir isso em ambos os lados, você apenas captou o ciclo durante a transição.</p>
                </div>

                <div class="card">
                    <h2 class="card-title">Bebês quase não piscam</h2>
                    <img src="http://s2.glbimg.com/i4OpDLREu48EMzhxP30aJY5jxrWkkPIiKtA5xqz3w7JIoz-HdGixxa_8qOZvMp3w/e.glbimg.com/og/ed/f/original/2014/03/10/620x452.jpg" alt="">
                    <p class="card-desc">Outra curiosidade sobre o ser humano em sua primeira fase é que o intervalo entre uma piscada e outra é muito maior. Enquanto os adultos piscam de 10 a 15 vezes por minuto, os bebês não costumam piscar apenas uma vez a cada minuto! No máximo, três vezes durante esse período. Isso acontece, talvez, porque os bebês dormem muito mais que os adultos e, assim, seus olhos exigem menos lubrificação.</p>
                </div>

                <div class="card">
                    <h2 class="card-title">As pessoas produzem 0,7 litro de saliva por dia</h2>
                    <img src="http://s2.glbimg.com/3Die0-d_8Aqkyu4e4Cq3qS3p9p4=/smart/e.glbimg.com/og/ed/f/original/2015/07/27/saliva-excesso.jpg" alt="">
                    <p class="card-desc">A produção de saliva varia consideravelmente de pessoa para pessoa, mas em média a maioria dos seres humanos consegue produzir 0,7 litro de saliva por dia, o que é suficiente para encher duas banheiras por ano! Vale ressaltar que a saliva ajuda a matar bactérias e combater infecções, porque conta com uma proteína chamada histatina, que é conhecida como um agente antibacteriano.</p>
                </div>

                <div class="card">
                    <h2 class="card-title">O corpo humano brilha no escuro</h2>
                    <img src="https://misteriosdomundo.org/wp-content/uploads/2019/06/6-%E2%80%93-Ganhamos-um-esqueleto-completamente-novo-a-cada-dez-anos.jpg" alt="">
                    <p class="card-desc">Você já ouviu falar de bioluminescência? Trata-se da produção de luz por organismos vivos. Pode parecer loucura, mas o ser humano também brilha, em um processo semelhante chamado emissão de biofótons. As reações químicas em nossas células emitem pequenas quantidades de luz que já foram detectadas por cientistas em estudos anteriores, por meio de câmeras ultrassensíveis. Esse brilho emitido pelo corpo humano não pode ser visto a olho nu, porque é mil vezes mais fraco do que podemos detectar.</p>
                </div>
            </div>  

            <p class="source-citation">Fontes: <a class="source-citation-link" href="https://lifehacker.com/14-weird-facts-about-the-human-body-you-probably-never-1847829288/slides/7">Life Hacker</a>, <a class="source-citation-link" href="https://www.scienceabc.com/humans/why-do-babies-have-more-bones-than-adults.html">Science ABC</a>, <a class="source-citation-link" href="https://pubmed.ncbi.nlm.nih.gov/29503124/">National Library of Medicine</a>, <a class="source-citation-link" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0006256">PLoS One</a></p>            

            <h5 class="list-title" style="margin:20px 0px 20px 0px;"><strong><smal>Cinco dicas para manter a boa saúde</smal></strong></h5>
            <div>
                <ul>
                    <li>Atividades Físicas e Mentais</li>
                    <li>Refeições Equilibradas</li>
                    <li>Beba Água</li>
                    <li>Evitar o “Stress”</li>
                    <li>Durma Bem</li>
                </ul>
            </div>
        </div>

       


    </main>

    <aside class="aside">
        <img class="image-aside" src="../assets/tumor.png">
    </aside>
    
    <hr/>
    
    <footer>

        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>   All rights reserved  | <a target="_blank" href="https://www.linkedin.com/in/steffany-sympson/">    SS Developer</a><i class="fas fa-heart"></i></p>
        
    </footer>


</body>
</html>