<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica NTT Anatomy</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>


<body>

    <header class="header">
        <div class="header-components">
            <h1 class="header-title">Clínica NTT Anatomy</h1>
            
        </div>  
        <div class="header-img">  
            <img class="img" src="../assets/esteto.png">
        </div>    
    </header>
    <hr/>

    <input class="checkB" type="checkbox" id="check">
    <label for="check">
        <img class="menu-icon" src="../assets/menu-icon.png">
    </label>
    
    <nav class="lateral-menu">
        <ul class="menu-list">
            <li><a class="menu-item" href="./index.html">Home</a></li>
            <li><a class="menu-item" href="./about-us.html">Sobre Nós</a></li>
            <li><a class="menu-item" href="./opening-hours.html">Horário de Atendimento</a></li>
            <li><a class="menu-item" href="./contact.html">Contato</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
                            
            <table >
                <caption class="article-title">Nossos Horários</caption>
                <tr>
                    <th>Especialidades</th>
                    <th>Segunda a Sexta</th>
                    <th>Sábados</th>
                    <th>Domingo e Feriados</th>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Clínica geral</td>
                    <td>08h - 19h</td>
                    <td>08h - 14h</td>
                    <td>08h - 14h</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Psicologia</td>
                    <td>08h - 19h</td>
                    <td>08h - 14h</td>
                    <td>08h - 14h</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Pediatria</td>
                    <td>08h - 19h</td>
                    <td>08h - 14h</td>
                    <td>Sem Atendimento</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Oftalmologia</td>
                    <td>08h - 19h</td>
                    <td>08h - 14h</td>
                    <td>Sem Atendimento</td>
                </tr>
            </table>
            
        </div>


    </main>

    <aside class="aside">
        <p class="p-hours"> "A vida humana é feita de escolhas. Sim ou não. Dentro ou fora. Para cima ou para baixo. Aí existem as escolhas que importam. Amar ou odiar. Ser um herói ou covarde. Lutar ou desistir. Viver ou morrer. Viver ou morrer: esta é a escolha importante. E não está sempre nas nossas mãos." </p>
    </aside>
    
    <hr/>
    
    <footer>

        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>   All rights reserved  | <a target="_blank" href="https://www.linkedin.com/in/steffany-sympson/">    SS Developer</a><i class="fas fa-heart"></i></p>
        
    </footer>


</body>
</html>